#main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#main-container form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

#main-container input,
#main-container button {
  height: 48px;
  padding: 0 20px;
  border-radius: 4px;
  font-size: 16px;
}

#main-container input {
  margin-top: 30px;
  border: 1px solid #ddd;
}

#main-container button {
  margin-top: 10px;
  background-color: #7159c1;
  border: none;
  font-weight: bold;
  letter-spacing: 2px;
  color: #ddd;
  cursor: pointer;
  transition: all .3s;
}

#main-container button:hover {
  margin-top: 10px;
  background-color: #583fa8;
  color: #fff;
}